@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --sidebar: linear-gradient(180deg,#133C3C,#475D5D);
    --metric-1: linear-gradient(180deg,#3AF5F5,#D42BC9);
    --metric-2: linear-gradient(180deg,#E7C60F,#784908);
    --metric-3: linear-gradient(180deg,#7D0034,#CC4911);
    --light-green:#264848;
    --dark-green:#003333;
    --primary:#1B1B1B;
    --secondary:#333232;
    --text-color:#FFFFFF;
    --popup: linear-gradient(180deg,#000000,#4F4F4F);
    --red1:#FF3D00;
  }
  