@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1B1B1B;
  --foreground: #343a40;
  --light-green: #90ee90;
  --mid-green:#264848;
  --dark-green: #003333;
  --red1: #ff0000;
  
}

.bg-custom {
  background-color: #046C71; /* Matching the image background */
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #1B1B1B;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
